.introduction__page__acceuil {
    font-family: 'inter';
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}


.artiste_btn {
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 16px ;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-family: 'inter';
    font-weight: 600;
    background-color: #A88400;
    color: white;
}

.regroupementimgtext {
    position:relative;
}
.imgaccueil {
    width: 80vw;
    display: block;
    margin: 0 auto;
    z-index:1;
}
.rectangleexpo {
    box-sizing: border-box;
    background: #5C4E1C;
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 60px;
    top: 200px;
    color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: 'inter';
    font-size: 14px;
}