.footer {
    background: var(--brun-principal);
    color: white;
    padding: 0px var(--space3x);
    font-family: 'inter';
  }

  .logo_insta {
    width: 34px;
    height: 34px;
    margin-top: 45px;
    margin-left: 6px;
  }

  .footer_title {
    padding-top: 37px;
  }

  .arobase_insta {
    position: absolute;
    top: 3035px;
    left: 74px;
  }
  .logo_twitter {
    width: 43px;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .arobase_twitter {
    position: absolute;
    top: 3085px;
    left: 74px;
  }

  .hrfooter {
    height: 1px;
    background: white;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .footer_form {
    font-size: 14px;
  }

  .newsletter {
    font-size: 12px;
    background-color: var(--jaune-secondaire);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 134px;
    border-radius: 25px;
    color: black;
    margin-top: 15px;
  }

.footer_mention {
    font-size: 10px;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 25px;
}

.lien_footer {
    text-decoration: none;
    color: white;
}